<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp API Microservice</title>
    <meta name="description" content="Simple API made with Glitch!">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>
          Request Header Parser Microservice
        </h1>
      </header>
      <section>
        <p>
            Simply submit a GET request to "/myInfo", and this service will return your ip address, operation system information, and system language.
        </p>
        <form>
          <label class="attention">
            Try it out!
          </label>
          <button type="submit">
            Get My Info
          </button>
        </form>
      </section>
    </div>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
